
.slick-slide {
    pointer-events:none !important;
}

.slick-slide div {
    outline: none !important
}

button.slick-prev {
    display: block;
    left: 0;
    z-index: 9;
    width: 50px;
    height: 50px;
}

button.slick-next {
    right: 0;
    z-index: 9;
    width: 50px;
    height: 50px;
}

button.slick-prev:before, button.slick-next:before {
    font-size:50px;
}

.slick-slide img{
    max-width: 100%;
    width: 100%;
}

.slick-track {
    display: flex !important;
    align-items: center !important;
}

#animated-i{
    position: fixed;
    top: 0px;
    width: 100px;
    height:20px;
    background-color:white;
    z-index: 9;
}
.shadowed{
    box-shadow: 9px 9px 5px -3px rgba(0,0,0,0.22);
}

.base {
    bottom: 10px !important;
    opacity: 1 !important;
}

.raised {
    bottom: 15 !important;
    opacity: 1 !important;
    box-shadow: none;
}