
.slick-slide {
    pointer-events:none !important;
}

.slick-slide div {
    outline: none !important
}

button.slick-prev {
    display: block;
    left: 0;
    z-index: 9;
    width: 50px;
    height: 50px;
}

button.slick-next {
    right: 0;
    z-index: 9;
    width: 50px;
    height: 50px;
}

button.slick-prev:before, button.slick-next:before {
    font-size:50px;
}